.loader {

    &.fade {
        animation: fadeOut .8s 2.3s forwards;
    }

    #loading {
        align-items: center;
        background: var(--secondary-bg);
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 10000;

        .icon.logo-icon {
            color: var(--primary-color);
            height: 100px;
            width: 100px;

            path {
                opacity: 0;

                &:nth-child(1) {
                    animation: fadeIn 1s 0.3s forwards;
                }

                &:nth-child(2) {
                    animation: fadeIn 1s 0.9s forwards;
                }

                &:nth-child(3) {
                    animation: fadeIn 1s 0.6s forwards;
                }

                &:nth-child(4) {
                    animation: fadeIn 1s 1.1s forwards;
                }

                @for $i from 5 through 28 {
                    &:nth-child(#{$i}) {
                        animation: fadeIn 1s 1.4s forwards;
                    }
                }

            }
        }
    }
}

.App:not(.d-none){
    animation: 0.3s fadeIn forwards;
}

.header {
    background-color: var(--primary-bg);
    position: relative;
    transition: background-color .2s ease-in-out;
    width: 100%;

    &-bar-subsidiary {
        background: var(--tertiary-bg);
        display: none;
        height: 56px;
        position: relative;
        z-index: 5000;

        .container {
            height: 100%;
        }

        &__main {
            align-items: center;
            display: flex;
            height: 100%;
        }

        &__right {
            display: flex;
            width: fit-content;
            margin-left: auto;
        }

        &__left {
            display: flex;
            margin-right: auto;
            width: fit-content;
        }

        &__notice-link {
            display: flex;
            align-items: center;
            color: var(--link-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            transition: .2s ease-in-out;

            svg {
                margin-inline-start: 14px;
            }

            &:hover {
                color: var(--dark-green);
            }
        }

        &__items {
            align-items: center;
            display: flex;
            gap: 48px;
            justify-content: flex-end;
            margin-right: auto;
        }

        &__item {
            color: var(--link-color);
            display: flex;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            position: relative;
            transition: color .15s ease-in-out;
        }

        &__lang {
            background: var(--primary-bg);
            border-radius: 12px;
            position: relative;

            &-title {
                height: 21px;
                font-weight: 500;
            }

            &-dropdown {
                background-color: var(--primary-bg);
                border-radius: 12px;
                box-shadow: 0 30px 50px -3px rgb(0 0 0 / 10%);
                max-height: 0;
                min-width: 144px;
                opacity: 0;
                overflow: hidden;
                padding: 8px;
                position: absolute;
                top: 43px;
                transition: all .3s ease-in-out;
                user-select: none;
                width: 100%;
                z-index: 1;

                &.show {
                    max-height: 999px;
                    opacity: 1;
                }
            }

            &-item {
                align-items: center;
                border-radius: 12px;
                color: var(--link-color);
                display: flex;
                font-size: 14px;
                gap: 4px;
                height: 34px;
                justify-content: space-between;
                padding-inline-end: 4px;
                padding-inline-start: 12px;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: var(--lang-hover);
                }

                &--btn {
                    align-items: center;
                    border-radius: 12px;
                    color: var(--link-color);
                    cursor: pointer;
                    display: flex;
                    font-size: 1rem;
                    height: 34px;
                    gap: 4px;
                    justify-content: space-between;
                    min-height: 40px;
                    min-width: 144px;
                    padding-inline-end: 12px;
                    padding-inline-start: 20px;
                    transition: all .3s ease-in-out;
                    user-select: none;

                    &:hover {
                        background: var(--primary-bg);
                        box-shadow: 0 10px 50px var(--soft-shadow);
                    }
                }
            }
        }
    }

    &-bar {
        background-color: var(--primary-bg);
        box-shadow: 0 30px 50px -3px var(--dark-shadow);
        display: none;
        height: 80px;
        position: relative;
        z-index: 4000;

        &.fixed {
            animation: fadeInDown .3s normal;
            position: fixed;
            top: 0;
            width: 100%;
        }

        &.fade {
            animation: fadeInUp 0.5s normal;
        }

        &__main {
            display: flex;
            height: 80px;
            justify-content: space-between;
        }

        &__left,
        &__right {
            align-items: center;
            display: flex;
        }

        &__item-logo {
            margin-inline-end: 40px;

            svg {
                height: 40px;
                max-width: 110px;
            }
        }

        &__item {
            color: var(--link-color);
            cursor: pointer;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            position: relative;
            transition: .2s ease-in-out;

            &::after {
                background-color: var(--primary-color);
                border-radius: 12px;
                bottom: 0px;
                box-shadow: 0 0 3px -3px var(--soft-shadow);
                content: "به زودی";
                color: #fff;
                font-size: 14px;
                opacity: 0;
                position: absolute;
                right: 50%;
                text-align: center;
                transform: translateX(50%);
                transition: 0.3s ease-in-out;
                width: 90px;
            }

            &:not(:last-child) {
                margin-inline-end: 41px;
            }

            &:hover {
                color: var(--primary-color);

                svg {
                    transform: rotate(-180deg);
                }

                &::after {
                    bottom: -35px;
                    opacity: 1;
                }
            }


            svg {
                color: var(--link-color);
                margin-inline-start: 10px;
                transition: .2s ease-in-out;
            }
        }

        &__sign-in {
            margin-inline-end: 16px;
        }

        &__sign-up {
            padding-top: 3px;
            min-width: 144px;
        }
    }

    &-mobile-bar {
        align-items: center;
        display: flex;
        height: 64px;

        &.fixed {
            animation: fadeInDown 0.3s normal;
            background-color: var(--primary-bg);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        &__main {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
        }

        &__logo {
            svg {
                height: 40px;
                max-width: 110px;
            }
        }

        &__btn {
            align-items: center;
            background: var(--primary-bg);
            border-radius: 12px;
            box-shadow: 0 0 10px var(--soft-shadow);
            display: flex;
            flex-direction: column;
            height: 40px;
            justify-content: center;
            width: 40px;

            &-line {
                background-color: #344456;
                border-radius: 9999px;
                display: block;
                height: 2px;
                margin-bottom: 5px;
                transition: transform .2s ease-in-out;
                width: 18px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.home-intro {
    &__box {
        background: var(--intro-bg);
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__content {
        padding-bottom: 24px;
        padding-top: 48px;
        padding-inline-end: 16px;
        padding-inline-start: 16px;
        text-align: center;
    }

    &__image {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        overflow: hidden;

        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    &__subtitle {
        color: var(--primary-color);
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &__btn-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__btn-start {
        font-weight: 800;
        min-width: 204px;
        height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
    }

    &__btn-contact {
        font-weight: 800;
        min-width: 204px;
        height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        border-width: 3px;
    }

    &__bundle {
        background-image: url('../../public/images/bundle-pattern.png'), radial-gradient(102.21% 101.36% at 101.79% -.76%, #064e4b 0, #001215 91%);
        border-radius: 24px;
        box-shadow: 0 30px 50px -3px rgb(0 0 0 / 10%);
        margin-block-start: 24px;

        &-image {
            max-width: 100%;

            &-wrapper {
                margin-block-end: 32px;
                position: relative;
                text-align: center;

                &::after {
                    content: url('../../public/images/border.svg');
                    height: 108px;
                    inset-block-start: calc(50% - 54px);
                    inset-inline-end: 0;
                    position: absolute;
                    width: 2px;
                }
            }
        }

        &-title,
        &-subtitle {
            font-style: normal;
            line-height: 1.625;
            padding-inline-end: 16px;
            padding-inline-start: 16px;
            text-align: center;
        }

        &-title {
            color: var(--secondary-color);
            font-size: 24px;
            font-weight: 800;
            margin-block-end: 8px;
        }

        &-subtitle {
            color: var(--primary-color);
            font-size: 18px;
            font-weight: 500;
        }

        &-button-wrapper {
            padding: 16px;
        }

        &-button {
            -webkit-padding-before: 3px;
            align-items: center;
            background: #ffa800;
            border: 3px solid #ffa800;
            border-radius: 12px;
            color: #001316;
            display: flex;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            height: 48px;
            justify-content: center;
            padding-block-start: 3px;
            text-align: center;
            transition: .2s;
        }
    }
}

.home-products {
    padding-bottom: 104px;
    padding-top: 104px;

    &__title {
        color: var(--muted-text);
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 500;
        text-align: center;

        &::after {
            background-color: var(--primary-color);
            content: "";
            display: block;
            height: 2px;
            margin: 8px auto 0;
            width: 30px;
        }
    }

    &__subtitle {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 16px;
        text-align: center;
    }

    &__tab {
        align-items: center;
        background: var(--light-bg);
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        flex: 0 0 auto;
        gap: 10px;
        padding: 8px 16px;
        transition: width .3s ease-in-out;
        user-select: none;

        &-wrapper {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
            justify-content: start;
            margin-bottom: 32px;
            overflow-x: auto;
            padding-inline-end: 16px;
            padding-inline-start: 16px;
        }

        &-title {
            color: var(--muted-text);
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            padding-top: 3px;
            transition: color .2s ease-in-out;
        }

        &.active {
            background: var(--primary-bg);
        }

        &.active & {
            &-title {
                color: var(--primary-color);

                &::after {
                    width: 100%;
                }
            }

            &-image {
                display: block;
            }
        }

        &-image {
            display: none;

            .cdn-icon {
                stroke: var(--muted-text);
                color: var(--secondary-bg);

                &.active {
                    stroke: var(--primary-text);
                    color: var(--secondary-bg);
                }
            }
        }
    }

    &__panels {
        border-radius: 24px;
        overflow: hidden;
    }

    &__panel {
        background: var(--quaternary-bg);
        display: none;
        flex-direction: column;
        padding-bottom: 40px;
        padding-top: 40px;
        position: relative;

        &.active {
            display: flex;
        }

        &-content {
            max-width: 100%;
            padding-inline-end: 16px;
            padding-inline-start: 16px;
        }

        &-title {
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 24px;
        }

        &-text {
            font-size: 18px;
            margin-bottom: 32px;
            font-weight: 500;
        }

        &-link {
            align-items: center;
            color: var(--primary-color);
            display: inline-flex;
            font-size: 18px;
            font-weight: 800;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--primary-color-dark);
            }

            svg {
                margin-inline-start: 12px;
            }
        }

        &-image img {
            max-width: 100%;
        }
    }
}

.home-customers {
    padding-bottom: 104px;

    &__title {
        color: var(--muted-text);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px;

        &::after {
            background-color: var(--primary-color);
            content: "";
            display: block;
            height: 2px;
            margin-top: 8px;
            width: 30px;
        }
    }

    &__subtitle {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }

    &__card-wrapper {
        animation: cards-slide 40s linear infinite;
        display: flex;
        flex-wrap: nowrap;
        inset-inline-start: -4144px;
        padding-block-end: 24px;
        padding-block-start: 24px;
        position: relative;
        width: 8288px;

        &:hover {
            animation-play-state: paused;
        }
    }

    &__card {
        background-color: var(--primary-bg);
        background-image: url('../../public/images/quote.svg');
        background-position: 32px 32px;
        background-repeat: no-repeat;
        border-radius: 16px;
        box-shadow: 0 30px 50px -3px var(--hard-shadow);
        margin-inline-start: 16px;
        max-width: 280px;
        min-height: 222px;
        min-width: 280px;
        padding: 16px 18px 32px;
        width: 100%;

        &-image-1 {
            align-items: center;
            display: flex;
            margin-bottom: 10px;
            min-height: 61px;
        }

        &-text {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            color: var(--muted-text);
            display: -webkit-box;
            font-size: 10px;
            font-weight: 500;
            margin-bottom: 16px;
            min-height: 96px;
            overflow: hidden;
            text-align: start;
        }

        &-author {
            font-size: 12px;
            font-weight: 700;
        }
    }

    &__logo-wrapper {
        animation: logos-slide 40s linear infinite;
        display: flex;
        inset-inline-start: -2408px;
        overflow-x: hidden;
        padding-block-end: 24px;
        position: relative;
        width: 4816px;
        animation-direction: reverse;
        padding-block-end: 0;

        &:hover {
            animation-play-state: paused;
        }
    }

    &__logo {
        color: var(--customers-logo);
        margin-inline-start: 24px;

        svg {
            height: 16px;
        }
    }
}

.home-cdn {
    padding-bottom: 104px;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: var(--muted-text);
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 16px;

        &::after {
            background-color: var(--primary-color);
            content: "";
            display: block;
            height: 2px;
            margin-top: 8px;
            width: 30px;
        }
    }

    &__subtitle {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }

    &__map {
        margin-bottom: 32px;
        margin-top: 24px;
    }

    &__map-canvas {
        column-gap: 2px;
        display: none;
        grid-template-columns: repeat(114, minmax(0, 1fr));
        margin-inline-end: auto;
        margin-inline-start: auto;
        max-width: 100%;
        row-gap: 1px;
    }

    &__dot {
        background-color: transparent;
        border-radius: 9999px;
        height: 2px;
        position: relative;
        transition: .3s ease-in-out;
        width: 2px;

        &[data-continent] {
            background-color: var(--map-color);
            position: relative;

            &:hover {
                background-color: #059596 !important;
            }

            &.hover {
                background-color: var(--map-color-hover);
            }
        }

        @for $i from 1 through 61 {
            &[data-row="#{$i * 2}"] {
                left: 4px;
            }
        }

        @for $i from 1 through 20 {
            &[data-indicator="arvan"]:nth-child(#{$i}n) {
                animation-delay: #{$i * 0.2}s
            }
        }


        &--arvan {
            animation: pulseOn 3s cubic-bezier(.66, 0, 0, 1) infinite;
            background-color: var(--primary-color) !important;
            box-shadow: 0 0 0 0 var(--primary-color-shadow);


        }

        &--arvan,
        &--red {
            &:hover {
                .home-cdn__tooltip {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &--red {
            background-color: #d9048d !important;
        }
    }

    &__tooltip {
        align-items: center;
        background-color: var(--primary-bg);
        border-radius: 12px;
        box-shadow: 0 10.7287px 21.4574px var(--soft-shadow);
        cursor: default;
        direction: rtl;
        display: flex;
        gap: 12px;
        height: 50px;
        inset-block-end: calc(100% + 16px);
        inset-inline-start: 50%;
        justify-content: center;
        margin-inline-start: -60px;
        min-width: 120px;
        opacity: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        position: absolute;
        text-align: center;
        transition: .3s;
        visibility: hidden;
        z-index: 9999;

        &:after {
            border: 12px solid transparent;
            border-top-color: var(--primary-bg);
            content: "";
            inset-block-start: 100%;
            inset-inline-start: 50%;
            margin-inline-start: -12px;
            position: absolute;
        }
    }

    &__map-image {
        display: none;

        svg {
            max-width: 100%;
        }
    }

    &__item {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        gap: 16px;

        &-wrapper {
            background-color: var(--quaternary-bg);
            border-radius: 16px;
            display: flex;
            flex-wrap: nowrap;
            gap: 16px;
            justify-content: space-between;
            overflow-x: auto;
            padding: 12px;
        }

        &-image {
            align-items: center;
            background-color: var(--primary-bg);
            border-radius: 12px;
            box-shadow: 0 5px 20px var(--soft-shadow);
            display: flex;
            height: 48px;
            justify-content: center;
            width: 48px;
        }

        &-value {
            font-size: 20px;
            font-weight: 800;
        }

        &-title {
            color: var(--primary-color-dark);
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
        }
    }

}

.home-solutions {
    padding-bottom: 104px;

    &__title {
        color: var(--muted-text);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 16px;
        text-align: center;

        &::after {
            background-color: var(--primary-color);
            content: "";
            display: block;
            height: 2px;
            margin: 8px auto 0;
            width: 30px;
        }
    }

    &__subtitle {
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 16px;
        text-align: center;
    }

    &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 24px;
        text-align: center;
    }

    &__tab {
        align-items: center;
        background-color: var(--light-bg);
        border-radius: 12px;
        color: var(--muted-text);
        cursor: pointer;
        display: flex;
        flex: 0 0 auto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        min-width: 136px;
        padding: 3px 8px 0;
        transition: all .2s ease-in-out;
        user-select: none;

        &.active {
            background-color: var(--primary-bg);
            color: var(--primary-color);
            font-weight: 800;

            &::after {
                width: 100%;
            }
        }

        &-wrapper {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
            justify-content: start;
            margin-bottom: 32px;
            overflow-x: auto;
            overflow-y: hidden;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__panel {
        display: none;
        flex-direction: column;
        gap: 24px;

        &.active {
            display: flex;
        }
    }

    &__item {
        background-color: var(--primary-bg);
        border: 3px solid var(--primary-bg);
        border-radius: 16px;
        box-shadow: 0 30px 50px -3px var(--hard-shadow);
        max-width: 100%;
        overflow: hidden;
        padding: 24px 48px;
        text-align: center;
        transition: .2s;

        &:hover {
            border-color: var(--primary-color);
        }

        &-image {
            margin-bottom: 16px;
        }

        &-title {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 8px;
        }

        &-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.home-cta {
    padding-bottom: 104px;

    &__box {
        background-color: var(--light-cyan);
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 48px 30px 0;
        text-align: center;
    }

    &__title {
        color: var(--primary-color);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__subtitle {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    &__btn-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 20px;
    }

    &__btn {
        padding-inline-end: 12px;
        padding-inline-start: 12px;
        font-size: 18px;
        font-weight: 800;
        height: 56px;
        min-width: 240px;
        padding-top: 3px;

        &:hover {
            box-shadow: 0 0 0 3px #344456 !important;
        }

        &.contact:active {
            background-color: transparent;
        }
    }

    &__image {
        text-align: center;

        img {
            max-width: 100%;
        }

        &--desktop {
            display: none;
        }
    }
}

.home-access {
    padding-bottom: 144px;

    &__title {
        color: var(--muted-text);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
        text-align: center;

        &:after {
            background-color: var(--primary-color);
            content: "";
            display: block;
            height: 2px;
            margin: 8px auto 0;
            width: 30px;
        }
    }

    &__subtitle {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 40px;
        text-align: center;
    }

    &__item-wrapper {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__item {
        background-color: var(--primary-bg);
        border: 3px solid transparent;
        border-radius: 12px;
        box-shadow: 0 30px 50px -3px var(--hard-shadow);
        padding: 16px;
        text-align: center;
        transition: .2s;

        &:hover {
            border-color: var(--primary-color);
        }

        &-image {
            margin-bottom: 16px;
        }

        &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 16px;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.home-footer {
    &__menu {
        background: var(--light-cyan);
        padding-bottom: 40px;
        padding-top: 104px;
    }

    &__col-wrapper {
        display: grid;
        gap: 40px 56px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__col {
        &-title {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 24px;
        }
    }

    &__ul {
        margin-bottom: 0;
        padding-inline-start: 0;
    }

    &__li {
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-link {
            color: #fff;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;
            gap: 8px;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--primary-color);
            }
        }

        &-tag {
            align-items: center;
            background-color: var(--dark-cyan);
            border-radius: 12px;
            display: inline-flex;
            height: 32px;
            justify-content: center;
            max-width: fit-content;
            padding-top: 1px;
            padding-inline-end: 16px;
            padding-inline-start: 16px;
            text-align: center;
            transition: .2s ease-in-out;
            white-space: nowrap;

            &:hover {
                color: #fff;
            }
        }
    }

    &__content-info {
        background: var(--dark-cyan);
        margin-top: -1px;
        padding-bottom: 85px;
        padding-top: 32px;
    }

    &__bar {
        border-bottom: 2px solid var(--light-cyan);
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 24px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-link {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--primary-color);
            }

            &-wrapper {
                align-items: center;
                display: flex;
                gap: 32px;
                justify-content: center;
            }
        }
    }

    &__lang {
        position: relative;

        &-btn {
            background-color: #054465;
            border-radius: 12px;
            cursor: pointer;
            font-size: 14px;
            min-width: 144px;
            padding: 0 8px;
            transition: .2s;
            user-select: none;
        }

        &-item {
            align-items: center;
            background-color: #054465;
            display: flex;
            height: 40px;
            justify-content: space-between;
            padding-block-end: 4px;
            padding-block-start: 4px;
            padding-inline-end: 4px;
            padding-inline-start: 12px;
        }

        &-title {
            color: #fff;
            padding-top: 3px;
        }

        &-dropdown {
            background-color: #054465;
            border-radius: 12px;
            inset-block-end: calc(100% + 3px);
            max-height: 0;
            min-width: 144px;
            opacity: 0;
            overflow: hidden;
            padding: 8px;
            position: absolute;
            transition: .3s ease-in-out;
            user-select: none;
            width: 100%;
            z-index: 1;

            &.show {
                max-height: 999px;
                opacity: 1;
            }
        }
    }

    &__social,
    &__social-item {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__social {
        gap: 32px;

        &-item {
            background-color: var(--light-cyan);
            border-radius: 12px;
            color: #1f6e91;
            display: flex;
            height: 40px;
            justify-content: center;
            transition: .2s ease-in-out;
            width: 40px;

            &:hover {
                color: var(--primary-color);
            }

            svg {
                fill: currentColor;
                width: 20px;
            }

            #social-item--instagram {
                fill: var(--light-cyan);
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 24px;
    }

    &__info {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__logo {
        margin-inline-end: 16px;

        .logo-icon {
            max-height: 41px;
            min-height: 41px;
        }
    }

    &__copyright {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding-top: 3px;
    }

    &__certs {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__cert {
        &-item {
            position: relative;

            &:hover {
                &>span {
                    opacity: 1;
                    z-index: 2;
                }

                svg path {
                    fill: var(--primary-color);
                }
            }

            svg path {
                fill: #1f6e90;
                transition: all .5s ease-in-out;
            }
        }

        &-tooltip {
            align-items: center;
            background-color: var(--primary-color);
            border-radius: 4px;
            bottom: calc(100% + 7px);
            color: var(--dark-cyan);
            display: flex;
            font-size: 12px;
            height: 24px;
            left: 50%;
            opacity: 0;
            padding: 1px 6px 0;
            position: absolute;
            text-align: center;
            transform: translate(-50%);
            transition: opacity .5s ease-in-out;
            white-space: nowrap;
        }
    }
}

// animations
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes cards-slide-lg {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-3108px)
    }
}

@keyframes cards-slide {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2072px)
    }
}

@keyframes logos-slide-lg {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-3514px)
    }
}

@keyframes logos-slide {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-1204px)
    }
}

@keyframes pulseOn {
    to {
        box-shadow: 0 0 0 1em rgba(232, 76, 61, 0)
    }
}